<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-toolbar *ngIf="!loggedIn">
  <button ion-button clear [navPush]="loginPage"> Sign In </button>
</ion-toolbar>

<ion-toolbar *ngIf="loggedIn" color="secondary">
    <button ion-button icon-left clear small>
      <ion-icon name="contact"></ion-icon>
      {{loggedIn}} Logged in
    </button>
    <button ion-button outline small>Sign Out</button> 
  </ion-toolbar>



<ion-content padding>

</ion-content>
